.imagenFondo{
    z-index: -1;
    position: absolute;
    scale:55% ;
    transform: translate(-45%,-50%);
    
}
body{
    margin: 0;
    position: absolute;
}
.head {
    position: relative;
}

.head-text {
    position: relative;
    text-align: center;
    justify-content: center;
    color: black;
    align-items:center;
}
header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.textos-header {
    font-size: 50px;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.textos-header h2{
    font-size: 45px;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.Texto {
    position: relative;
    padding: 100px 0 0 0;
    text-align: center;
    color: black;
    font-size: 50px;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.gifs{
    display: flex;
    justify-content: center;
    padding: 100px 0 0 0;
}
